*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
  max-width: 1140px;
  padding: 16px;
  margin: 0 auto;
}

h1{
  margin-bottom: 16px;
}
.card-repo{
  margin: 24px auto;
}

ul{
  list-style: none;
}